In [2]:
import pandas as pd
import numpy as np

In [12]:
ACY_05M = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='ASY_05(M)')

CoC_01 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='CoC_01')
CoC_02 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='CoC_02')
CoC_03 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='CoC_03')
CoC_04 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='CoC_04')
CoC_05 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='CoC_05')
CoC_06 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='CoC_06')
CoC_07 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='CoC_07')

FW_01 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='FW_01')
FW_02 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='FW_02')
FW_03 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='FW_03')
HR_01 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='HR_01')
HR_02 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='HR_02')
HR_03 = pd.read_excel('../data/immigration-and-protection-data-apr-jun-2025.xlsx', sheet_name='HR_03')

In [15]:
ACY_05M.head(10)

,ASY_05: Breakdown of Asylum Productivity,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Back to Contents,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Month,NaN,Initial Decisions,Substantive Interviews,Total Principal Stages Completed,Asylum Caseworking Staff,Productivity (Principal Stages Per Caseworker ...
3,2020-01-01 00:00:00,NaN,2332,2304,4636,635,7
4,2020-02-01 00:00:00,NaN,2246,2231,4477,616,7
5,2020-03-01 00:00:00,NaN,1970,1588,3558,607,6
6,2020-04-01 00:00:00,NaN,380,1,381,608,1
7,2020-05-01 00:00:00,NaN,1052,1,1053,604,2
8,2020-06-01 00:00:00,NaN,1786,1,1787,602,3
9,2020-07-01 00:00:00,NaN,1468,20,1488,602,2