In [4]:
import pandas as pd

df = pd.read_csv('../data/processed/CoC_07'
'.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   id                                                       32 non-null     int64
 1   Quarter                                                  32 non-null     object
 2   Initial / Single Applications                            32 non-null     int64
 3   Subsequent Applications                                  32 non-null     int64
 4   Total Applications1                                      32 non-null     int64
 5   % of applications that were not initial appplications10  32 non-null     float64
 6   % of rejections that were subsequently accepted11        32 non-null     float64
dtypes: float64(2), int64(4), object(1)
memory usage: 1.9+ KB

,id,Quarter,Initial / Single Applications,Subsequent Applications,Total Applications1,% of applications that were not initial appplications10,% of rejections that were subsequently accepted11
0,1,2017 Q3,362,1,363,0.002755,0.000000
1,2,2017 Q4,692,50,742,0.067385,0.079412
2,3,2018 Q1,612,96,708,0.135593,0.162465
3,4,2018 Q2,621,108,729,0.148148,0.161376
4,5,2018 Q3,682,157,839,0.187128,0.217703